@use 'colors' as *;

.submit-btn {
	position: relative;
	height: 55px;
	width: 40%;
	margin: 1.2em auto;
	border-radius: 8px;
	border: none;
	padding: 1em;
	font-size: 1.5rem;
	letter-spacing: 0.1em;
	background-color: $buttonColor;
	box-shadow: 2px 2px 2px 0px rgba(24, 58, 63, 0.35);
	font-weight: 600;
	cursor: pointer;
	color: #000000a8;
	transition: 0.3s;
}

.submit-btn:hover {
	background-color: #1a8ef3d7;
	color: #fdfdfdd8;
}

.submit-btn::before {
	position: absolute;
	content: '';
	border: 2px solid #1a8ef3d7;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 8px;
	transition: 0.3s;
	opacity: 0;
}

.submit-btn:hover::before {
	animation: btn 0.7s;
}
