@use 'reset' as *;
@use 'colors' as *;
@use 'components' as *;
@use 'calendar-adress-box' as *;
@use "calendar-styles" as *;



// html, body {
// 	font-size: 62.5%;
//     height: 100%;
//   }


.wrapper-calendar {
	margin:  50px auto;
	width: 90%;
	justify-content: center;
	display: flex;
	align-items: center;
}


#send {
	margin: 1.3em 0.5em;
	padding: 0.6em;
	background-color: #4e85fb;
}

.fa-times {
	position: absolute;
	top: 8px;
	right: 12px;
	padding: 0.2em;
	z-index: 5;
	cursor: pointer;
}
.fa-pencil-alt {
	font-size: 4.5rem;
}

#calendar-services, #calendar-city{
	width: 40%;
	cursor: pointer;
}

.hours-container {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 50px;
	top: -30px;
	flex-direction: column;
	align-items: center;
	padding: 0.6em;
	margin-left: 2em;
	margin-top: 4.5em;
	width: 400px;
	border-radius: 8px;
	border: 1px solid black;
	font-size: 1.5rem;
	display: none;

	&__btn-box{
		width: 75%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
	.active {
		background-color: lime;
	}
	h3 {
		margin: 0.7em 0.5em 0.5em 0.5em;
	}

	button {
		width: 43%;
		margin: 0.7em;
		padding: 0.3em;
		justify-items: auto;
		border-radius: 8px;
		border: none;
		background-color: #e8eaebd7;
		cursor: pointer;
		transition: 0.3s;
	}

	button:hover {
		transform: scale(1.2);
	}

	&__info{

		margin: 1em;
		&-span{
			text-decoration: underline;
			font-weight: bold;
		}

	}
}




@media (max-width: 1200px) {
	.wrapper-calendar {
		width: 95%;
	}
	#send {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.wrapper-calendar {
		display: flex;
		flex-direction: column;
	}

	.calendar-container{
		margin-top: 1em;
		.pick-day-box{
			h4{
				font-size: 2.5rem;
			}
		}
	}

	#calendar {
		td {
			height: 65px;
			width: 90px;
			font-size: 2rem;
		}
	}
	.pick-profession-box {
		h3 {
			font-size: 2.3rem;
		}
		select {
			font-size: 2rem;
			text-align: center;
		}
		align-self: center;
		margin: 0em;
		margin-bottom: 6em;
		.location-title {
			font-size: 2rem;
			margin-bottom: 1em;
		}

		.home-local-box {
			label {
				font-size: 2rem;
				margin: 0.5em;
			}
			input {
				margin-left: 0;
				margin-top: 0.5em;
				width: 35px;
				height: 25px;
			}
		}

		.pick-profession-box__client-adress {
			margin-top: 2em;
			label{
				font-size: 2rem;
			}
			input{
				font-size: 2rem;
			}
		}

		.pick-profession-box__company-adress {
			font-size: 2.5rem;

			h4{
				font-size: 2.7rem;
			}
			p{
				margin: .6em;
			}
		}
	}
	.hours-container {
		align-self: center;
		margin-top: 3em;
		width: 500px;
		h3 {
			font-size: 2rem;
			margin-bottom: 1em;
		}
		button {
			font-size: 1.6rem;
			padding: 0.7em;
		}

		#send {
			padding: 1.2em;
			font-size: 1.6rem;
		}
	}
}
