$aquablue: linear-gradient(140deg,#5bd692,#66ccda , #4b87cc, #253ca1);
$buttonColor: #3aa1fcc4;
$errorBgc: tomato;
$errorFont: #df1010;
$loginLink: rgb(57, 57, 172);

/// calendar
$calendarPrevNext: #878787;
$inactiveDay: #aaa;

$calendarTitle: #fffdfd;
$calendarTitleBgc: rgba(65, 105, 225, 0.781);

$checkedDay: rgba(0, 255, 0, 0.651);
$hoverCheckedDay: rgba(100, 224, 100, 0.863);

$activeDayFont: #fff;
$activeDayBgc: #9B59B6;

$noActiveBgc: #f2f2f2;
