
@use 'colors' as *;

.wrapper {
	margin: 100px auto 100px;
	width: 45%;
	max-width: 980px;
}
.horizontal-line {
	height: 1px;
	width: 80%;
	margin: .6em auto 3.5em;
	background-color: #33333360;
}


.panel-title {
	display: flex;
	width: 90%;
	padding: 0.5em;
	font-size: 5rem;
	font-style: italic;
	letter-spacing: 0.1em;
	color: #f3f3f3;
}

.user-box{
	display: flex;
	align-items: center;
	width: 60%;
	margin-left: 4em;
	font-size: 2.3rem;
	color: #f3f3f3d3;

	.user-name{
		letter-spacing: .06em;
		font-size: 2.2rem;
	}
	.fa-user{
		margin-right: .6em;
	}
}

.log-out-box{
	display: flex;
	align-items: center;
	width: 20%;
	font-size: 2rem;
	color: #f3f3f3d3;
	.fa-sign-out-alt{
		margin-right: .6em;
	}
	#log-out{
		cursor: pointer;
	}
}

.shadow-box {
	position: relative;
	display: flex;
	justify-content: center;
	justify-content: start;

}
.shadow {
	position: absolute;
	// margin-top: -30px;
	width: 100%;
	height: 100%;
	background-color: #3333339f;
	z-index: -1;
}

.input {
	margin: .7em 1.5em 2.5em 1.5em;
	padding: 0.6em;
	border-radius: 7px;
	border: none;
	font-size: 1.4rem;
}

.special-input {
	width: 15px;
	height: 15px;
	margin-right: .8em;
	cursor: pointer;
}

.info {
	position: absolute;
	right: 2em;
	background-color: transparent;
	border: none;
	img{
		width: 20px;
	}
}

.info::before{
	position: absolute;
	content: "Hasło powinno zawierać conajmniej 8 znaków.";
	bottom: 20px;
	left: 20px;
	width: 170px;
	padding: .7em;
	border-radius: 7px;
	background-color: rgb(148, 148, 148);
	box-shadow: 1px 1px 1px 0px rgba(27, 35, 36, 0.35);
	background-color:white;
	display: none;
}

.info:hover::before{
	display: block;
}


a{
	text-decoration: none;
	color: #f3f3f3;
}


@media (max-width: 576px) {

.wrapper{
	width: 100%;
}

}

@media (max-width: 768px) {

html{
	body{
		.wrapper{
			width: 90%;
		}
	}
}
	

}

@media (max-width: 992px) {

body{
	.wrapper{
		width: 75%;
	}
}

}

@media (max-width: 1200px) {

body{
	.wrapper{
		width: 60%;
	}
}

}