.wrapper {
	margin: 100px auto 100px;
	width: 50%;
	max-width: 980px;
}
.horizontal-line {
	height: 1px;
	width: 80%;
	margin: .6em auto 3.5em;
	background-color: #33333360;
}

.input {
	margin: .7em 1.5em 2.5em 1.5em;
	padding: 0.6em;
	border-radius: 7px;
	border: none;
	font-size: 1.4rem;
}

.special-input {
	width: 15px;
	height: 15px;
	margin-right: .8em;

}


@media (max-width: 576px) {

.wrapper{
	width: 100%;
}

}

@media (max-width: 768px) {

html{
	body{
		.wrapper{
			width: 90%;
		}
	}
}
	

}

@media (max-width: 992px) {

body{
	.wrapper{
		width: 75%;
	}
}

}

@media (max-width: 1200px) {

.wrapper{
	width: 60%;
}

}