@use 'colors' as *;

// .wrapper {
// 	// margin: 100px auto 100px;
// 	// width: 40%;
// 	// max-width: 780px;
// }
.horizontal-line {
	height: 1px;
	width: 80%;
	margin: 0.6em auto 3.5em;
	background-color: #33333360;
}

.panel-title {
	display: flex;
	width: 90%;
	padding: 0.5em;
	font-size: 5rem;
	font-style: italic;
	letter-spacing: 0.1em;
	color: #f3f3f3;
}

.user-box {
	display: flex;
	align-items: center;
	width: 60%;
	margin-left: 4em;
	font-size: 2.3rem;
	color: #f3f3f3d3;

	.user-name {
		letter-spacing: 0.06em;
		font-size: 2.2rem;
	}
	.fa-user {
		margin-right: 0.6em;
	}
}

.log-out-box {
	display: flex;
	align-items: center;
	width: 20%;
	font-size: 2rem;
	color: #f3f3f3d3;
	.fa-sign-out-alt {
		margin-right: 0.6em;
	}
	#log-out {
		cursor: pointer;
	}
}

.shadow-box {
	position: relative;
	display: flex;
	justify-content: center;
	justify-content: start;
}
.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #3333339f;
	z-index: -1;
}

.input {
	margin: 0.7em 1.5em 2.5em 1.5em;
	padding: 0.6em;
	border-radius: 7px;
	border: none;
	font-size: 1.4rem;
}

.special-input {
	width: 15px;
	height: 15px;
	margin-right: 0.8em;
	cursor: pointer;
}

.info {
	position: absolute;
	right: 2em;
	background-color: transparent;
	border: none;
	img {
		width: 20px;
	}
}

.info::before {
	position: absolute;
	content: 'Hasło powinno zawierać conajmniej 8 znaków.';
	bottom: 20px;
	left: 20px;
	width: 170px;
	padding: 0.7em;
	border-radius: 7px;
	background-color: rgb(148, 148, 148);
	box-shadow: 1px 1px 1px 0px rgba(27, 35, 36, 0.35);
	background-color: white;
	display: none;
}

.info:hover::before {
	display: block;
}

a {
	text-decoration: none;
	color: #f3f3f3;
}


@media(max-width: 350px){
	html{
		body{
			.wrapper{
				#form{

					background-color: #fdfbfb5b;

					#register{
						background-color: rgb(58, 161, 252);
						font-size: 1.8rem;
					}
				}
			}
		}
	}
	}


@media (max-width: 450px) {
	html{
		min-width: 100vw;
        body {
			min-width: 100vw;
           .wrapper{
               #form {
                //    width: 320px;
				   padding-top: 1.1em;
				   background-color: #fdfbfba7;

				   h1{
					letter-spacing: normal;
					margin-top: .4em;
				   }
                   label{

                    font-size: 1.9rem;
                   }

                   input{
                    font-size: 1.6rem;
                   }
                   #register{
                    width: 80%;
					margin-top: 2em;
					font-size: 1.7rem;
                   }
				   
					.basic-info-names,.basic-info-contact,.password-box{
						// display: flex;
						flex-direction: column;
					
						
					}
					.basic-info-data{
						width: 100%;
					}
					.password-box-password{
						width: 100%;
					}
               }
           }
            
        }
    }

}

// @media (max-width: 576px) {
	
// 	html{
// 		body {
// 			.wrapper {
// 				form {
// 					// width: 460px;
// 				}
// 			}
// 		}
// 	}
	
// }

// @media (max-width: 768px) {
// 	body {
// 		.wrapper {
// 			form {
// 				// width: 567px;

// 			}
// 		}
// 	}
// }

// @media (max-width: 992px) {
	
// 		.wrapper {
// 			form {
// 				// width: 700px;
// 			}
// 		}
	
// }

// @media (max-width: 1200px) {
// 	body{
// 		form {
// 		// min-width: 720px
// 		// width: 120%;
// 	}
// 	}
// }
