@use 'colors' as *;
@use 'components' as *;
@use 'reset' as *;
@use 'animations' as *;
@use 'btn' as *;
@use 'calendar' as *;
@use 'company-panel' as *;


.register-body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-size: 300% 300%;
	background-image: $aquablue;
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	animation: AnimateBg 30s ease infinite;
}

form {
	position: relative;
	display: flex;
	justify-content: center;
	max-width: 805px;
	flex-direction: column;
	padding: 3.5em;
	text-align: center;
	border-radius: 8px;
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.35);
	background-color: #fdfbfbb6;
}

h1 {
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
	letter-spacing: 0.1em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.user-company {
	display: flex;
	justify-content: space-evenly;
	margin: 0.7em 0em 0em;
}
.user-company-user,
.user-company-company {
	display: flex;
	align-items: center;
}

.basic-info {
	&-names,
	&-contact {
		display: flex;
	}
	&-data {
		display: flex;
		flex-direction: column;
		width: 50%;
	}
	&-company{
		display: flex;
	}
}

.company-adress{
	display: flex;
justify-content: center;
flex-wrap: wrap;

	&-title{
		font-size: 1.7rem;
		margin: 1em;
	}
	&-place{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}

	&-data{
		display: flex;
		flex-direction: column;
		width: 50%;
	}

}


.password-box {
	display: flex;
	&-password {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 50%;
	}
}

.register-terms {
	margin: 1.5em;
}

.red-input {
	border: 1px solid $errorBgc;
	background-color: rgba(255, 99, 71, 0.158);
}

.red-placeholder::placeholder {
	color: $errorFont;
}


.terms-error {
	margin: .7em 0em 0em 1em;
	color: $errorFont;
	font-size: 1.4rem;
}


.login{
	&__text{

		&--link{
		cursor: pointer;
		color: $loginLink;
		}
	}
}