$aquablue: linear-gradient(140deg,#5bd692,#66ccda , #4b87cc, #253ca1);
$buttonColor: #3aa1fcc4;
$errorBgc: tomato;
$errorFont: #df1010;
$link: rgb(57, 57, 172);
$hoverLink: rgb(30, 30, 97);

$customerUnderline: rgba(89, 187, 240, 0.9058823529);
$companyUnderline: rgba(65, 105, 225, 0.781);


/// calendar
$calendarPrevNext: #878787;
$inactiveDay: #aaa;

$calendarTitle: #fffdfd;
$calendarCustomerTitleBgc: rgba(89, 187, 240, 0.906);
$calendarCompanyTitleBgc: rgba(65, 105, 225, 0.781);

$checked: rgba(0, 255, 0, 0.651);
$hoverChecked: rgba(100, 224, 100, 0.863);

$activeDayFont: #fff;
$activeDayBgc: #9B59B6;
$noActiveBgc: #f2f2f2;


//customer-panel

	$headerBgc: rgb(41 91 118 / 43%);
    $secondary:  #59bbf0e7;
    $button: #0075b3;
    