@use "colors" as *;


@mixin customerBtn {

    width: 30%;
    border-radius: 25px;
    background-color: $button;
    color: #fff;
    font-size: 1.8rem;


}


@mixin customerPickServiceBoxTitle {

    background-color: $secondary;
    color: #fffdfd;
    padding: 1.2em;
    font-size: 2.5rem;
    text-shadow: 1px 2px 5px black;

}

@mixin heroCustomerImg {
    display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;
		min-height: 78vh;
		background-position: 15%;
		background-size: cover;
}


@mixin customerShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f2b3194;
    z-index: 1;
}


@mixin pickPersonAndLocationBoxes {
    display: flex;
	justify-content: space-evenly;
	text-align: center;
	overflow: hidden;
	margin: auto;
	padding: 1em 2em;
	max-width: 1300px;
    font-size: 2.2rem;
}
@mixin pickPersonAndLocationSecondBox{
    display: flex;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 6px 9px 10px rgba(0, 0, 0, 0.622);
}

@mixin pickPersonAndLocationSecondBoxText{
    margin: auto;
    padding: 0.5em;
    color: #fff;
    z-index: 10;
    text-shadow: 1px 2px 5px black;
}
