*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body{
	min-height: 100vh;
	font-size: 1.6rem;
	font-family: sans-serif;
	background-color: #ebebebd8;

}