@use '../utils/reset' as *;
@use '../utils/colors' as *;
@use "../components/nav-elements" as *;


.your-profession,
.your-visits {
	border: 1px dotted black;
	width: 50%;
	margin: 2em auto;
	padding: 1em;
	text-align: center;
}

.your-profession {
	font-size: 3rem;
	span {
		font-weight: bold;
		text-decoration: underline;
	}
}

.your-visits {
	.visit {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1em;
		#customers-name {
			font-weight: bold;
		}
	}
}

.calendar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 60%;
}

.pick-day-box {
	display: flex;
	justify-content: center;
	align-items: center;
}


@media(min-width: 1200px) {

    .calendar-container{
        max-width: 850px;
    }

}
@media(max-width: 992px) {

    .calendar-container{
        width: 75%;
    }
    .user-nav-box{
        font-size: 1.6rem;
        width: 50%;
    }
    .log-out-box{
        width: 30%;
    }

}
@media(max-width: 768px) {
    .panel-title{
        font-size: 3.5rem;
        .fa-pencil-alt{
            font-size: 3.2rem;
        }
    }

    .calendar-container{
        width: 85%;

        #calendar{
            td{
                font-size:1.6rem;
                height: 45px;
            }
        
        }
        .pick-day-box{
            h4{
                font-size: 1.5rem;
            }
        }
    }

    .your-profession{
        font-size: 2rem;
    }
}

@media(max-width: 576px) {
    .user-nav-box{
        font-size: 1rem;
        width: 20%;
    }

    .panel-title{
        font-size: 2.7rem;
        width: 50%;
        .fa-pencil-alt{
            font-size: 2.7rem;
        }
    }

    .log-out-box{
        font-size: 1.5rem;
    }

}