@use '../reset' as *;
@use '../colors' as *;
@use '../components/components' as *;
// @use 'calendar-adress-box' as *;
@use "../components/calendar" as *;



.wrapper-customer-panel {
	display: flex;
	flex-direction: column;
	margin:  50px auto;
	width: 80%;
	justify-content: center;
	align-items: center;
}


#send {
	margin: 1.3em 0.5em;
	padding: 0.6em;
	background-color: #4e85fb;
}

.fa-times {
	position: absolute;
	top: 8px;
	right: 12px;
	padding: 0.2em;
	z-index: 5;
	cursor: pointer;
}
.fa-pencil-alt {
	font-size: 4.5rem;
}

#calendar-services, #calendar-city{
	width: 40%;
	cursor: pointer;
}

.hours-container {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 50px;
	top: -30px;
	flex-direction: column;
	align-items: center;
	padding: 0.6em;
	margin-left: 2em;
	margin-top: 4.5em;
	width: 400px;
	border-radius: 8px;
	border: 1px solid black;
	background-color: #fff;
	font-size: 1.5rem;
	display: none;

	&__btn-box{
		width: 75%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	}
	.active-hour-btn {
		background-color: lime;
	}
	h3 {
		margin: 0.7em 0.5em 0.5em 0.5em;
	}

	button {
		width: 43%;
		margin: 0.7em;
		padding: 0.3em;
		justify-items: auto;
		border-radius: 8px;
		border: none;
		background-color: #e8eaebd7;
		cursor: pointer;
		transition: 0.3s;
	}

	button:hover {
		transform: scale(1.2);
	}

	&__info{

		margin: 1em;
		&-span{
			text-decoration: underline;
			font-weight: bold;
		}

	}
}




.pick-profession-box {
	display: flex;
	margin-top: 6.5em;
	margin-bottom: 4em;
	padding: 1em;
	text-align: center;
	border-radius: 8px;
	background-color: $calendarTitleBgc;
	border: 1px dotted black;
	box-shadow: 0 15px 30px rgba(0,0,0,0.12);


	&__pick-profession{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__select-box{
		display: flex;
		justify-content: center;
		align-items: center;
		// margin-top: 3em;
	}

	.horizontal-line{
		margin-bottom: 0;
	}
	&__title {
		margin: 0.8em 0.5em;
		text-align: center;
		font-size: 2.3rem;
	}



	&__service-provider{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		font-size: 1.5rem;
		padding: 1em;

			input{
				cursor: pointer;
			}
			
			.service-provider{
				display: flex;
				flex-wrap: wrap;
				p{
					margin: 1em;
					font-size: 2rem;
				}
			}
		}
		&__available-providers {
			font-size: 2.3rem;
		}

	.service-location{
		&__title{
			padding: .7em;
			font-size: 2.3rem;
		}
	}


	.service-location__box{
		display: flex;
		flex-direction: column;
		margin-top: 1em;
		justify-content: space-evenly;
		font-size: 2rem;

		input {
			margin-left: 0.4em;
			margin-bottom: 2em;
			width: 15px;
			height: 15px;
			cursor: pointer;
		}

	}

		&__client-adress{
			display: flex;
			flex-direction: column;
			margin-top: 2em;
            display: none;
			label{
				font-size: 1.3rem;
			}
		}

		&__company-adress{
			margin: 1em;
			padding: 1em;
			background-color: #ffffff4d;
			font-size: 1.7rem;
			border: 1px solid black;
			border-radius: 8px ;
            display: none;
			&--title{
				// margin-top: 2.3em;
				margin-bottom: .7em;
				font-size: 1.7rem;
			}
			p{
				margin-bottom: .3em;
			}
		}
	
}


@media(max-width: 1200px) {


.wrapper-customer-panel{
	width: 90%;
} 

	.home-local-box{
		display: flex;
		flex-direction: column;

		.home-local-box__home-box{
			justify-content: center;
			input{
				margin-bottom: 1em;
			}
		}
		.home-local-box__local-box{
			justify-content: center;
			margin-left: 0;
			margin-bottom: 1.3em;
			input{
				margin-bottom: 0;
			}
		}
	}

}




@media (max-width: 1200px) {

	#send {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.wrapper-customer-panel {
		display: flex;
		flex-direction: column;
	}

	.calendar-container{
		margin-top: 1em;
		.pick-day-box{
			h4{
				font-size: 2.5rem;
			}
		}
	}

	#calendar {
		td {
			height: 65px;
			width: 90px;
			font-size: 2rem;
		}
	}
	.pick-profession-box {
		align-self: center;
		margin: 0em;
		margin-bottom: 6em;
		h3 {
			font-size: 2.3rem;
		}
		select {
			font-size: 2rem;
			text-align: center;
		}
		
		.service-location{
			
			&__title {
				font-size: 2rem;
				margin-bottom: 1em;
			}
		}

		.home-local-box {
			label {
				font-size: 2rem;
				margin: 0.5em;
			}
			input {
				margin-left: 0;
				margin-top: 0.5em;
				width: 35px;
				height: 25px;
			}
		}

		.pick-profession-box__client-adress {
			margin-top: 2em;
			label{
				font-size: 2rem;
			}
			input{
				font-size: 2rem;
			}
		}

		.pick-profession-box__company-adress {
			font-size: 2.5rem;

			h4{
				font-size: 2.7rem;
			}
			p{
				margin: .6em;
			}
		}
	}
	.hours-container {
		align-self: center;
		margin-top: 3em;
		width: 500px;
		h3 {
			font-size: 2rem;
			margin-bottom: 1em;
		}
		button {
			font-size: 1.6rem;
			padding: 0.7em;
		}

		#send {
			padding: 1.2em;
			font-size: 1.6rem;
		}
	}
}


@media (max-width: 576px){

.user-box{
	margin-left: 0;
}

.hours-container{
	margin-left: 0;
}
}