@use '../utils/animations' as *;
@use '../utils/reset' as *;
@use '../utils/colors' as *;
@use '../utils/mixins' as *;
@use '../components/nav-elements' as *;
@use '../components/inputs' as *;
@use '../components/calendar' as *;
@use '../components/btn' as *;

.wrapper-customer-panel {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	justify-content: center;
	align-items: center;
}

#header-mobile {
	display: none;
}

.header {
	.hero-img {
		@include heroCustomerImg;
		background-image: url('../../img/city-original-size.jpg');
		#burger-btn {
			display: none;
		}
		.header-shadow {
			@include customerShadow;
			background-color: $headerBgc;
		}
	}

	&__title {
		display: flex;
		margin-bottom: 5em;
		color: #fff;
		z-index: 5;
		justify-items: flex-start;

		h1 {
			font-weight: normal;
			font-size: 4rem;
			letter-spacing: 0.1em;
			text-shadow: 2px 2px 6px black;
		}

		.reservo {
			width: 80%;
			margin: 0 auto;
			text-align: center;
			font-size: 9.5rem;
			font-style: italic;
			animation: h1-slide-left 1s;
		}
		.underline {
			display: block;
			margin: 0 auto;
			height: 13px;
			width: 50%;
			border-radius: 15px;
			background-color: royalblue;
			background-color: $secondary;
		}
	}

	&__text {
		animation: header-text-slide-right 1s;
	}

	&__btn {
		margin: 0 auto;
		width: 45%;
		max-width: 700px;
		padding: 1em;
		text-align: center;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: #fff;
		animation: header-btn-slide-top 1s 1s both;
		box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.392);

		.submit-btn {
			@include customerBtn;
		}
	}
}

.pick-profession-box {
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 45%;
	max-width: 700px;
	padding: 2.3em;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: $secondary;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
	z-index: 5;
	animation: header-div-slide-top 1.5s 0.5s both;

	&__icons {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		font-size: 3rem;
		margin-bottom: 0.5em;
		color: #ffffff;

		i {
			text-shadow: 1px 1px 3px black;
		}
		.fa-toolbox {
			margin-right: 2.5em;
		}
	}

	&__select-box {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
	}

	.input {
		margin: 0;
		font-size: 1.8rem;
		padding: 0.9em;
	}

	.horizontal-line {
		margin-bottom: 0;
		display: none;
	}
	&__title {
		color: #ffffffd0;
		margin-bottom: 0.6em;
		font-size: 2.3rem;
	}
}

.pick-person-and-location {
	position: relative;

	h3 {
		font-size: 4rem;
		text-align: center;
		margin: 2em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
	}

	.available-service-providers {
		@include pickPersonAndLocationBoxes;

		&__title {
			@include customerPickServiceBoxTitle;
		}

		&__second-box {
			@include pickPersonAndLocationSecondBox;
			background-image: url('../../img/christina-wocintechchat-com-LQ1t-8Ms5PY-unsplash\ \(1\).jpg');
		}
		&__first-box,
		&__second-box {
			@include clientAressAndCompanyAdressBox;
			display: flex;
			margin: 2em;
		}

		&__shadow {
			@include customerShadow;
		}

		&__text {
			@include pickPersonAndLocationSecondBoxText;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			overflow: auto;
			max-height: 150px;
		}

		.service-provider {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			p {
				margin: 1em;
				font-size: 2rem;
			}
		}

		.submit-btn {
			@include customerBtn;
			width: 40%;
		}
	}

	.service-location {
		@include pickPersonAndLocationBoxes;
		min-height: 450px;

		&__first-box,
		&__second-box {
			@include clientAressAndCompanyAdressBox;
			display: block;
			margin: 2em;
		}

		&__second-box {
			@include pickPersonAndLocationSecondBox;
			background-image: url(../../img/johnson-johnson-U6Q6zVDgmSs-unsplash.jpg);

			&-shadow {
				@include customerShadow;
			}
			&-text {
				@include pickPersonAndLocationSecondBoxText;
			}
		}

		&__container {
			position: relative;
			height: 61%;
			text-align: center;
		}

		&__box {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			margin-top: 1em;
			font-size: 2rem;
			height: 100%;

			input {
				margin-left: 0.4em;
				margin-bottom: 2em;
				width: 15px;
				height: 15px;
			}

			i {
				margin-right: 0.3em;
			}
		}

		&__title {
			@include customerPickServiceBoxTitle;
		}
	}
}

.client-adress {
	@include clientAressAndCompanyAdressBox;
	max-width: 750px;

	&__title {
		@include customerPickServiceBoxTitle;
	}
	&__body {
		display: flex;
		flex-direction: column;
		padding: 2.2em 5em 1em;
	}
	label {
		font-size: 1.9rem;
	}
	input {
		cursor: auto;
		font-size: 1.8rem;
		background-color: #ebebebd8;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.407);
	}
}

.company-adress {
	@include clientAressAndCompanyAdressBox;
	max-width: 650px;
	font-size: 2.2rem;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5em 2em 2em;

		#company-street,
		#company-home-number,
		#company-city,
		#company-code {
			font-weight: bold;
		}
	}

	&__item {
		margin-bottom: 1.4em;
	}

	&__street-box {
		display: flex;
	}
}

#calendar-services,
#calendar-city {
	cursor: pointer;
}

.hours-container {
	@include clientAressAndCompanyAdressBox;
	position: relative;
	align-items: center;
	margin-top: 5em;
	max-width: 700px;

	.fa-times {
		position: absolute;
		top: 8px;
		right: 12px;
		font-size: 2rem;
		padding: 0.5em;
		color: #fff;
		text-shadow: 1px 1px 3px black;
		z-index: 5;
		cursor: pointer;
	}

	.active-hour-btn {
		background-color: lime;
	}
	h3 {
		@include customerPickServiceBoxTitle;
	}

	button {
		width: 43%;
		margin: 0.7em;
		padding: 0.5em;
		font-size: 2rem;
		justify-items: auto;
		border-radius: 8px;
		border: none;
		background-color: #e8eaebd7;
		cursor: pointer;
		transition: 0.3s;
	}

	button:hover {
		transform: scale(1.2);
	}

	#send {
		@include customerBtn;
		margin: 1.5em;
	}

	&__info {
		margin: 2em;
		font-size: 1.8rem;
		&-span {
			text-decoration: underline;
			font-weight: bold;
		}
	}
}

@media (max-width: 1200px) {
	.header {
		.hero-img {
			background-image: url('../../img/city-large.jpg');
		}
	}

	.header__title {
		margin-bottom: 4em;

		.reservo {
			font-size: 7rem;
		}
	}

	.home-local-box {
		display: flex;
		flex-direction: column;

		.home-local-box__home-box {
			justify-content: center;
			input {
				margin-bottom: 1em;
			}
		}
		.home-local-box__local-box {
			justify-content: center;
			margin-left: 0;
			margin-bottom: 1.3em;
			input {
				margin-bottom: 0;
			}
		}
	}

	.pick-person-and-location {
		.service-location__container {
			padding: 1.5em;
		}
		.available-service-providers {
			padding: 0;

			.available-service-providers__text {
				font-size: 1.8rem;
			}
		}
		.available-service-providers__second-box,
		.available-service-providers__first-box {
			width: 70%;
		}

		.service-location {
			padding: 0;
			min-height: auto;
		}
		.service-location__second-box,
		.service-location__first-box {
			width: 70%;
		}

		.service-location__second-box-text {
			font-size: 1.8rem;
		}
	}
}

@media (max-width: 992px) {
	.pick-profession-box {
		width: 77%;
	}

	.header__btn {
		width: 77%;
		.submit-btn {
			width: 40%;
		}
	}

	.pick-person-and-location {
		.available-service-providers__title,
		.service-location__title {
			font-size: 2rem;
		}
		.available-service-providers__second-box,
		.available-service-providers__first-box,
		.service-location__second-box,
		.service-location__first-box {
			margin: 1em;
		}
		.available-service-providers {
			font-size: 1.6rem;
		}

		.available-service-providers {
			.service-provider {
				p {
					font-size: 1.8rem;
				}
			}
		}

		.service-location__box {
			font-size: 1.8rem;
		}
		.client-adress{
			margin-top: 2em;
			width: 55%;
			label{
				font-size: 1.8rem;
			}
		}
		.client-adress__title, .company-adress__title{
			font-size: 2rem;
		}
		.client-adress__body{
			padding: 2.2em 2em 1em;
		}
	}
}

@media (max-width: 768px) {
	.wrapper-customer-panel {
		display: flex;
		flex-direction: column;
	}
	.header {
		.hero-img {
			background-image: url('../../img/city-medium.jpg');
			#burger-btn {
				display: block;
				margin: 2em;
				span {
					width: 80%;
					height: 5px;
				}
			}
		}

		h1 {
			font-size: 4rem;
		}
		.reservo {
			font-size: 7rem;
		}
	}

	.pick-person-and-location{

		.available-service-providers__title,
		.service-location__title {
			font-size: 2.3rem;
		}

		.available-service-providers__second-box{
			display: none;
		}
		.available-service-providers__first-box{
			width: 65%;
		}

		.service-location{
			min-height: 350px;
			.service-location__box{
				font-size: 2rem;
			}
			.service-location__second-box{
				display: none;
			}
			.service-location__first-box{
				width: 65%;
			}
		}

		.client-adress,.company-adress{
			width: 65%;
			.submit-btn{
				@include customerBtn;
				width: 45%;
			}
		}


		.client-adress__body, .company-adress__body{
			padding: 2.2em 1em 1em;
		}
	}

	.hours-container {
		align-self: center;
		margin-top: 3em;
		width: 500px;
		h3 {
			font-size: 2rem;
			margin-bottom: 1em;
		}
		button {
			font-size: 1.6rem;
			padding: 0.7em;
		}

		#send {
			padding: 1.2em;
			font-size: 1.6rem;
		}
	}
}

@media (max-width: 576px) {
	.header,
	.header-mobile {
		.hero-img,
		.hero-img-mobile {
			.pick-profession-box {
				width: 91%;
				padding: 1.5em;
			}
		}
		.header__btn {
			width: 91%;
			.submit-btn {
				width: 45%;
			}
		}

		h1 {
			font-size: 3.5rem;
		}
		.reservo {
			font-size: 5.5rem;
		}
	}

	.pick-person-and-location{
		h3{
			font-size: 3.3rem;
		}

		 .available-service-providers__list{
			max-height: 140px;
		 }


		.available-service-providers__title,
		.service-location__title {
			font-size: 2rem;
		}


		.available-service-providers__first-box{
			width: 75%;
		}

		.service-location{
			.service-location__first-box{
				width: 75%;
			}
		}

		.client-adress,.company-adress{
			width: 75%;
		}
		.company-adress__body{
			padding: 2em 1em 1.5em;
		}
	}


	.user-nav-box {
		margin-left: 0;
	}

	.hours-container {
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	.header {
		display: none;
	}

	.header-mobile-container {
		z-index: 1;
		margin-bottom: 9em;
	}

	#header-mobile {
		display: block;
		.hero-img-mobile {
			background-image: url('../../img/city-medium.jpg');
			@include heroCustomerImg;
			min-height: 100vh;
			justify-content: space-between;
			.header-shadow {
				@include customerShadow;
				background-color: $headerBgc;
			}
			.pick-profession-box {
				width: 100%;
				background-color: transparent;
				padding: 2em 0em 2em;
				box-shadow: inset 0px 1px 15px 0px $secondary;
				border-radius: 10px;

				.input {
					font-size: 1.4rem;
				}
			}
			#burger-btn {
				margin: 2em;
				span {
					width: 80%;
					height: 5px;
				}
			}
		}
		.header__title {
			margin-bottom: 7em;
		}
		a {
			width: 70%;
		}
		.submit-btn {
			width: 65%;
			font-size: 1.5rem;
			height: 45px;
			color: #fff;
			background-color: #59bbf0;
		}
		h1 {
			font-size: 2.8rem;
		}
		.reservo {
			font-size: 5rem;
		}
	}


	.pick-person-and-location{
		h3{
			font-size: 2.9rem;
		}

		.available-service-providers__first-box{
			width: 90%;
		}

		.service-location{
			.service-location__first-box{
				width: 90%;
			}
		}

		.client-adress,.company-adress{
			width: 90%
		}
	}
}

@media (max-width: 380px) {
	.header-mobile-container {
		margin-bottom: 4em;
	}
	#header-mobile {
		.hero-img-mobile {
			.header__title {
				margin-bottom: 3em;
			}
			.pick-profession-box {
				.input {
					font-size: 1.3rem;
				}
			}
			#burger-btn {
				span {
					width: 75%;
					height: 4px;
				}
			}
		}

		h1 {
			font-size: 2.4rem;
		}
		.reservo {
			font-size: 4rem;
		}
		.underline {
			height: 6px;
		}

		.submit-btn {
			width: 80%;
		}
	}


	.pick-person-and-location{
		h3{
			font-size: 2.5rem;
			margin: 3em 1em;
		}
		.service-location__container{
			padding: .7em;
		}
		.service-location{	
			.service-location__box{
			   font-size: 1.8rem;
		   }
		} 

		.company-adress__body, .client-adress__body{
			font-size: 1.8rem;
			padding: 1.5em .5em 1em;
		}

		.client-adress__body{
			input{
				margin: 0.7em 1em 2.5em 1em;
			}
		}
		}

}
