@use '../utils/animations' as *;
@use '../utils/reset' as *;
@use '../utils/colors' as *;
@use '../utils/mixins' as *;
@use '../components/nav-elements' as *;
@use '../components/inputs' as *;
@use '../components/calendar' as *;
@use '../components/btn' as *;

.wrapper-customer-panel {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	justify-content: center;
	align-items: center;
}

#header-mobile {
	display: none;
}

.header {
	.hero-img {
		@include heroCustomerImg;
		background-image: url('../../img/city-original-size.jpg');
		#burger-btn {
			display: none;
		}
		.header-shadow {
			@include customerShadow;
			background-color: $headerBgc;
		}
	}

	&__title {
		display: flex;
		margin-bottom: 5em;
		color: #fff;
		z-index: 5;
		justify-items: flex-start;

		h1 {
			font-weight: normal;
			font-size: 4rem;
			letter-spacing: 0.1em;
			text-shadow: 2px 2px 6px black;
		}

		.reservo {
			width: 80%;
			margin: 0 auto;
			text-align: center;
			font-size: 9.5rem;
			font-style: italic;
			animation: h1-slide-left 1s;
		}
		.underline {
			display: block;
			margin: 0 auto;
			height: 13px;
			width: 50%;
			border-radius: 15px;
			background-color: royalblue;
			background-color: $secondary;
		}
	}

	&__text {
		animation: header-text-slide-right 1s;
	}

	&__btn {
		margin: 0 auto;
		width: 45%;
		max-width: 700px;
		padding: 1em;
		text-align: center;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: #fff;
		animation: header-btn-slide-top 1s 1s both;
		box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.392);

		.submit-btn {
			@include customerBtn;
		}
	}
}

.pick-profession-box {
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 45%;
	max-width: 700px;
	padding: 2.3em;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: $secondary;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
	z-index: 5;
	animation: header-div-slide-top 1.5s 0.5s both;

	&__icons {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		font-size: 3rem;
		margin-bottom: 0.5em;
		color: #ffffff;

		i {
			text-shadow: 1px 1px 3px black;
		}
		.fa-toolbox {
			margin-right: 2.5em;
		}
	}

	&__select-box {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
	}

	.input {
		margin: 0;
		font-size: 1.8rem;
		padding: 0.9em;
	}

	.horizontal-line {
		margin-bottom: 0;
		display: none;
	}
	&__title {
		color: #ffffffd0;
		margin-bottom: 0.6em;
		font-size: 2.3rem;
	}
}

.pick-person-and-location {
	position: relative;

	h3 {
		font-size: 4rem;
		text-align: center;
		margin: 2em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
	}

	.available-service-providers {
		@include pickPersonAndLocationBoxes;

		&__title {
			@include customerPickServiceBoxTitle;
		}

		&__second-box {
			@include pickPersonAndLocationSecondBox;
			background-image: url('../../img/christina-wocintechchat-com-LQ1t-8Ms5PY-unsplash\ \(1\).jpg');
		}
		&__first-box, &__second-box {
			margin: 2em;
			width: 50%;
			overflow: hidden;
			background-color: #ffffffe8;
			border-radius: 10px;
			box-shadow: 6px 9px 10px rgba(0, 0, 0, 0.407);
		}

		&__shadow {
			@include customerShadow;
		}

		&__text {
			@include pickPersonAndLocationSecondBoxText;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.service-provider {
			display: flex;
			flex-wrap: wrap;
			p {
				margin: 1em;
				font-size: 2rem;
			}
		}

		.submit-btn {
			@include customerBtn;
		}
	}

	.service-location {
		@include pickPersonAndLocationBoxes;
		min-height: 450px;

		&__first-box,
		&__second-box {
			width: 50%;
			margin: 2em;
			overflow: hidden;
			border-radius: 10px;
			background-color: #fff;
			box-shadow: 6px 9px 10px rgba(0, 0, 0, 0.407);
		}

		&__second-box {
			@include pickPersonAndLocationSecondBox;
			background-image: url(../../img/johnson-johnson-U6Q6zVDgmSs-unsplash.jpg);

			&-shadow {
				@include customerShadow;
			}
			&-text {
				@include pickPersonAndLocationSecondBoxText;
			}
		}

		&__container {
			position: relative;
			height: 61%;
			text-align: center;
		}

		&__box {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			margin-top: 1em;
			font-size: 2rem;
			height: 100%;

			input {
				margin-left: 0.4em;
				margin-bottom: 2em;
				width: 15px;
				height: 15px;
			}

			i {
				margin-right: 0.3em;
			}
		}

		&__title {
			@include customerPickServiceBoxTitle;
		}
	}
}

.client-adress {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
	display: none;
	label {
		font-size: 1.3rem;
	}
}

.company-adress {
	margin: 1em;
	padding: 1em;
	background-color: #ffffff4d;
	font-size: 1.7rem;
	border: 1px solid black;
	border-radius: 8px;
	display: none;
	&--title {
		margin-bottom: 0.7em;
		font-size: 1.7rem;
	}
	p {
		margin-bottom: 0.3em;
	}
}

#send {
	@include customerBtn;
}

.fa-times {
	position: absolute;
	top: 8px;
	right: 12px;
	padding: 0.2em;
	z-index: 5;
	cursor: pointer;
}

#calendar-services,
#calendar-city {
	cursor: pointer;
}

.hours-container {
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-bottom: 50px;
	top: -30px;
	flex-direction: column;
	align-items: center;
	padding: 0.6em;
	margin-left: 2em;
	margin-top: 4.5em;
	width: 400px;
	border-radius: 8px;
	border: 1px solid black;
	background-color: #fff;
	font-size: 1.5rem;
	display: none;

	&__btn-box {
		width: 75%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.active-hour-btn {
		background-color: lime;
	}
	h3 {
		margin: 0.7em 0.5em 0.5em 0.5em;
	}

	button {
		width: 43%;
		margin: 0.7em;
		padding: 0.3em;
		justify-items: auto;
		border-radius: 8px;
		border: none;
		background-color: #e8eaebd7;
		cursor: pointer;
		transition: 0.3s;
	}

	button:hover {
		transform: scale(1.2);
	}

	&__info {
		margin: 1em;
		&-span {
			text-decoration: underline;
			font-weight: bold;
		}
	}
}

@media (max-width: 1200px) {
	.header {
		.hero-img {
			background-image: url('../../img/city-large.jpg');
		}
	}

	.header__btn {
		.submit-btn {
			width: 45%;
		}
	}

	.header__title {
		margin-bottom: 4em;

		.reservo {
			font-size: 7rem;
		}
	}

	.home-local-box {
		display: flex;
		flex-direction: column;

		.home-local-box__home-box {
			justify-content: center;
			input {
				margin-bottom: 1em;
			}
		}
		.home-local-box__local-box {
			justify-content: center;
			margin-left: 0;
			margin-bottom: 1.3em;
			input {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 992px) {
	.pick-profession-box {
		width: 77%;
	}

	.header__btn {
		width: 77%;
		.submit-btn {
			width: 40%;
		}
	}
}

@media (max-width: 768px) {
	.wrapper-customer-panel {
		display: flex;
		flex-direction: column;
	}
	.header {
		.hero-img {
			background-image: url('../../img/city-medium.jpg');
			#burger-btn {
				display: block;
				margin: 2em;
				span {
					width: 80%;
					height: 5px;
				}
			}
		}

		h1 {
			font-size: 4rem;
		}
		.reservo {
			font-size: 7rem;
		}
	}

	.hours-container {
		align-self: center;
		margin-top: 3em;
		width: 500px;
		h3 {
			font-size: 2rem;
			margin-bottom: 1em;
		}
		button {
			font-size: 1.6rem;
			padding: 0.7em;
		}

		#send {
			padding: 1.2em;
			font-size: 1.6rem;
		}
	}
}

@media (max-width: 576px) {
	.header,
	.header-mobile {
		.hero-img,
		.hero-img-mobile {
			.pick-profession-box {
				width: 91%;
				padding: 1.5em;
			}
		}
		.header__btn {
			width: 91%;
			.submit-btn {
				width: 45%;
			}
		}

		h1 {
			font-size: 3.5rem;
		}
		.reservo {
			font-size: 5.5rem;
		}
	}
	.user-nav-box {
		margin-left: 0;
	}

	.hours-container {
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	.header {
		display: none;
	}

	.header-mobile-container {
		z-index: 1;
		margin-bottom: 9em;
	}

	#header-mobile {
		display: block;
		.hero-img-mobile {
			background-image: url('../../img/city-medium.jpg');
			@include heroCustomerImg;
			min-height: 100vh;
			justify-content: space-between;
			.header-shadow {
				@include customerShadow;
			}
			.pick-profession-box {
				width: 100%;
				background-color: transparent;
				padding: 2em 0em 2em;
				box-shadow: inset 0px 1px 15px 0px $secondary;
				border-radius: 10px;

				.input {
					font-size: 1.4rem;
				}
			}
			#burger-btn {
				margin: 2em;
				span {
					width: 80%;
					height: 5px;
				}
			}
		}
		.header__title {
			margin-bottom: 7em;
		}
		a {
			width: 70%;
		}
		.submit-btn {
			width: 65%;
			font-size: 1.5rem;
			height: 45px;
			color: #fff;
			background-color: #59bbf0;
		}
		h1 {
			font-size: 2.8rem;
		}
		.reservo {
			font-size: 5rem;
		}
	}
}

@media (max-width: 380px) {
	.header-mobile-container {
		margin-bottom: 4em;
	}
	#header-mobile {
		.hero-img-mobile {
			.header__title {
				margin-bottom: 3em;
			}
			.pick-profession-box {
				.input {
					font-size: 1.3rem;
				}
			}
			#burger-btn {
				span {
					width: 75%;
					height: 4px;
				}
			}
		}

		h1 {
			font-size: 2.4rem;
		}
		.reservo {
			font-size: 4rem;
		}
		.underline {
			height: 6px;
		}

		.submit-btn {
			width: 80%;
		}
	}
}
