@use '../utils/colors' as *;

.wrapper-calendar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 15px 40px rgba(0,0,0,0.12);

	header {
		display: flex;
		align-items: center;
		padding: 25px 30px 10px;
		justify-content: space-between;
        margin-left: 2.5em;
        .current-date{
            font-size: 2.3rem;
			text-shadow: 1px 1px 10px  rgba(168, 156, 156, 0.377);
        }
        .icons{
            span{
                font-size: 3.5rem;
                margin-left: .5em;
				cursor: pointer;
				color: $calendarPrevNext;
				border-radius: 50%;
				&:hover {
					background: $noActiveBgc;
				}
            }
        }
	}

	.calendar-title{
		font-size: 2rem;
		text-align: center;
		background-color: $calendarTitleBgc;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		h4{
			padding: 1em;
			font-size: 2.4rem;
			color: $calendarTitle;
			text-shadow: 1px 2px 5px  black;
		}
	}
}


.icons {
	span {
		&:last-child {
			margin-right: -10px;
		}
	}
}
.calendar {
	padding: 20px;
	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		text-align: center;
	}
	.days {
		margin-bottom: 20px;
		li {
			z-index: 1;
			cursor: pointer;
			position: relative;
			margin-top: 30px;
		}
	}
	li {
		width: calc(100% / 7);
		font-size: 1.07rem;
	}
	.weeks {
		li {
            font-size: 1.8rem;
			font-weight: 500;
			cursor: default;
		}
	}
}
.days {
	li.inactive {
		color: $inactiveDay;
	}
	li.active {
		color: $activeDayFont;
		&::before {
			background: $activeDayBgc;
			
		}
	}
	li {
        font-size: 2rem;
        position: relative;
		&::before {
			position: absolute;
			content: "";
			left: 50%;
			top: 50%;
			height: 40px;
			width: 40px;
			z-index: -1;
			border-radius: 50%;
			transform: translate(-50%, -50%);
            background-color: var(--before-bg-color); 
		}
		&:not(.active) {
			&:hover::before {
					background: $noActiveBgc;
				
			}
		}
        &.active2::before {
            background-color: $checkedDay; 
        }
        &.active2:hover::before{
            
            background-color: $hoverCheckedDay; 
          }
        }


}
