@use "../../sass/utils/mixins" as *;

.client-adress {
	@include sectionBox;
	max-width: 750px;

	&__title {
		@include boxTitle;
	}
	&__body {
		display: flex;
		flex-direction: column;
		padding: 2.2em 5em 1em;

		#confirm-adress{
			@include customerBtn;
			width: 40%;
			max-width: 190px;
		}
	}
	label {
		font-size: 1.9rem;
	}
	input {
		cursor: auto;
		font-size: 1.8rem;
		background-color: #ebebebd8;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.407);
	}
}

.company-adress {
	@include sectionBox;
	max-width: 650px;
	font-size: 2.2rem;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5em 2em 2em;

		#company-street,
		#company-home-number,
		#company-city,
		#company-code {
			font-weight: bold;
		}

	}
	a{
		width: 100%;
	}
	#confirm-local{
		@include customerBtn;
	}

	&__item {
		margin-bottom: 1.4em;
	}

	&__street-box {
		display: flex;
	}
}

@media (max-width: 992px){
    .client-adress{
        margin-top: 2em;
        width: 55%;
        label{
            font-size: 1.8rem;
        }
    }
    .company-adress{
        .company-adress__body{
            #confirm-local{
                width: 40%;
            }
        }
    }
    .client-adress__title, .company-adress__title{
        font-size: 2.3rem;
    }
    .client-adress__body{
        padding: 2.2em 2em 1em;
    }
}

@media (max-width: 768px){
    .client-adress,.company-adress{
        width: 65%;
        a{
            width: 100%;
        }
        .submit-btn{
            display: block;
            @include customerBtn;
            width: 45%;
        }
    }


    .client-adress__body, .company-adress__body{
        padding: 2.2em 1em 1em;
    }
}

@media (max-width: 576px){
    .client-adress,.company-adress{
        width: 75%;
    }
    .company-adress__body{
        padding: 2em 1em 1.5em;
    }
}

@media (max-width: 480px) {
    .client-adress,.company-adress{
        width: 90%
    }
}


@media (max-width: 380px) {
    .company-adress__body, .client-adress__body{
        font-size: 1.8rem;
        padding: 1.5em .5em 1em;
    }

    .client-adress__body{
        input{
            margin: 0.7em 1em 2.5em 1em;
        }
    }
}