@use "./lines" as *;


.footer {
	display: flex;
	flex-direction: column;
	background-color: rgb(181, 180, 180);

	&__container {
		display: flex;
        justify-content: center;
		padding: 1em;
		color: #fff;
		text-shadow: 1px 1px 3px black;
	}

	img {
		position: relative;
		width: 38px;
		height: 38px;
	}

	&__cards {
		// width: 50%;
		display: flex;
		justify-content: end;
		align-items: center;
		margin: 1em;
		text-align: center;
	}

	&__card {
		margin: 1em 2em;
	}

	&__name {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.8em;
		font-style: italic;
		font-size: 4.2rem;
	}

	&__heading {
		font-weight: bold;
		font-size: 2.2rem;
		margin: 0.7em 0em;
	}

	&__text {
		font-size: 1.8rem;
		margin-bottom: 0.6em;
	}

	&__company {
		text-align: center;
		line-height: 6em;
		color: #fff;
		text-shadow: 1px 1px 3px black;
	}

    .horizontal-line{
        display: none;
    }
}

@media (max-width: 1200px) {
	.footer__cards {
		width: auto;
	}
}

@media (max-width: 992px) {
	.footer__name {
        font-size: 3.7rem;
		padding: 0;
	}
	.footer__card {
		margin: 1em;
	}
}

@media (max-width: 768px) {
	.footer {
		.footer__name {
			font-size: 2.3rem;
			// padding: 0;
			img {
				width: 33px;
				height: 33px;
			}
		}
		.footer__cards {
            margin-left: 0.5em;
			.footer__card {
				margin: 0.5em;

                .footer__heading{
                    font-size: 1.7rem;
                }
				.footer__text {
					font-size: 1.5rem;
				}
			}
		}
	}
}




@media (max-width: 576px) {
	.footer {

        .horizontal-line{
            display: block;
            margin-bottom: 0;
            width: 47%;
            height: 2px;
        }

        .footer__container{
            flex-direction: column;
        }
		.footer__name {
            font-size: 3.5rem;
			padding: 1em;
            padding-bottom: 0;
            margin-left: .6em;
			// img {
			// 	width: 33px;
			// 	height: 33px;
			// }
		}
		.footer__cards {
            flex-direction: column;
            margin: 0;
			.footer__card {
				// margin: 0.5em;

                .footer__heading{
                    font-size: 2.4rem;
                }
				.footer__text {
					font-size: 2rem;
				}
			}
		}
	}
}

@media(max-width:380px){

	.footer {

    
		.footer__name {
			font-size: 3rem;
            margin-left: .7em;
		}
		.footer__cards {
			.footer__card {

                .footer__heading{
                    font-size: 2.1rem;
                }
				.footer__text {
					font-size: 1.8rem;
				}
			}
		}
	}


}