
input{
	cursor: pointer;
}

.input {
	margin: 0.7em 1.5em 2.5em 1.5em;
	padding: 0.6em;
	border-radius: 7px;
	border: none;
	font-size: 1.4rem;
}

.special-input {
	width: 15px;
	height: 15px;
	margin-right: 0.8em;
	cursor: pointer;
}