@use "../utils/colors" as *; 

.horizontal-line {
	height: 1px;
	width: 80%;
	margin: 0.6em auto 3.5em;
	background-color: #33333360;
}


.section-line{
	margin-top: 0;
	height: 8px;
	width: 11%;
	background-color: $customerUnderline;
	border-radius: 13px
}

.vertical-line {
	height: 280px;
	width: 5px;
	margin: 0.6em auto 3.5em;
	background-color: #f7f7f760;
}
