.horizontal-line {
	height: 1px;
	width: 80%;
	margin: 0.6em auto 3.5em;
	background-color: #33333360;
}


.section-line{
	margin-top: 0;
	height: 8px;
	width: 11%;
	background-color: rgba(89, 187, 240, 0.9058823529);
	border-radius: 13px
}

.vertical-line {
	height: 280px;
	width: 5px;
	margin: 0.6em auto 3.5em;
	background-color: #f7f7f760;
}
