.nav-shadow-box {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: .6em;
	z-index: 10;
	box-shadow: inset 0px 85px 15px rgba(35, 75, 136, 0.322); 

	&__user-box {
		display: flex;
		align-items: center;
		margin-left: 4em;
		font-size: 2.3rem;
		color: #f3f3f3d3;
	
		.user-name {
			letter-spacing: 0.06em;
			font-size: 2.2rem;
		}
		.fa-user, .fa-sticky-note,.fa-sign-out-alt  {
			margin-right: 0.6em;
		}

		a{
			display: flex;
			margin-right: 1em;
		}
		img{
			width: 35px;
		}
	}

	&__user{
		display: flex;
		margin: 0em 2em 0em 1em ;
		align-items: center;
	}
}
.nav-shadow {
	position: absolute;
	height: 100%;
	z-index: -1;
}


.panel-title {
	display: flex;
	// width: 90%;
	padding: 0.5em;
	font-size: 5rem;
	font-style: italic;
	letter-spacing: 0.1em;
	text-shadow: 1px 2px 1px rgb(15, 44, 124);
	color: #f3f3f3ea;
}


a {
	text-decoration: none;
	color: #f3f3f3;
}

