.nav-shadow-box {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: start;
	z-index: 10;
}
.nav-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #3333339f;
	z-index: -1;
}


.panel-title {
	display: flex;
	width: 90%;
	padding: 0.5em;
	font-size: 5rem;
	font-style: italic;
	letter-spacing: 0.1em;
	color: #f3f3f3;
}


.log-out-box {
	display: flex;
	align-items: center;
	width: 20%;
	font-size: 2rem;
	color: #f3f3f3d3;
	.fa-sign-out-alt {
		margin-right: 0.6em;
	}
	#log-out {
		cursor: pointer;
	}
}

.user-nav-box {
	display: flex;
	align-items: center;
	width: 60%;
	margin-left: 4em;
	font-size: 2.3rem;
	color: #f3f3f3d3;

	.user-name {
		letter-spacing: 0.06em;
		font-size: 2.2rem;
	}
	.fa-user {
		margin-right: 0.6em;
	}
}


a {
	text-decoration: none;
	color: #f3f3f3;
}

